<!DOCTYPE html>
<html>
    <head>
        <%- include('header'); %>
    </head>
    <body>
        <%- include('nav'); %>
        <div>
            <table class="center">
                <tr>
                    <th>CRIMINAL ID</th>
                    <th>name</th>
                    <th>Address</th>
                    <th>Phone No</th>
                    <th>Crime Count</th>
                </tr>
                <% criminals.forEach((criminal) => {%>
                    <tr>
                        <td>
                            <%= criminal.Criminal_Id%>
                        </td>
                        <td>
                            <%= criminal.Name%>
                        </td>
                        <td>
                            <%= criminal.Address%>
                        </td>
                        <td>
                            <%= criminal.Phone_no%>
                        </td>
                        <td>
                            <%= criminal.Crime_Count%>
                        </td>
                    </tr>
                <%}); %>
            </table>
        </div>
        <%- include('footer'); %>
    </body>
</html>
