<!DOCTYPE html>
<html>
    <head>
        <%- include('header'); %>
    </head>
    <body>
        <%- include('nav'); %>
        <div>
            <table class="center">
                <tr>
                    <th>FIR ID</th>
                    <th>CRN</th>
                    <th>witness name</th>
                    <th>area code</th>
                    <th>Data of filing</th>
                    <th>Criminal Count</th>
                </tr>
                <% Firs.forEach((fir) => {%>
                    <tr>
                        <td>
                            <a href="/fir/<%= fir.Fir_id%>"><%= fir.Fir_id%></a>
                        </td>
                        <td>
                            <a href="/crime/<%= fir.CRN%>"><%= fir.CRN%></a>
                        </td>
                        <td>
                            <%= fir.Witness_name%>
                        </td>
                        <td>
                            <%= fir.Area_code%>
                        </td>
                        <td>
                            <%= fir.Date_of_filing%>
                        </td>
                        <td>
                            <%= fir.Criminal_Count%>
                        </td>
                    </tr>
                <%}); %>
            </table>
        </div>
        <%- include('footer'); %>
    </body>
</html>