<!DOCTYPE html>
<html>
    <head>
        <%- include('header'); %>
    </head>
    <body>
        <%- include('nav'); %>
        <div>
            <table class="center">
                <tr>
                    <th>CRN</th>
                    <th>FIR ID</th>
                    <th>court id</th>
                    <th>verdict</th>
                    <th>verdict date</th>
                </tr>
                <% Verdicts.forEach((verdict) => {%>
                    <tr>
                        <td>
                            <%= verdict.CRN%>
                        </td>
                        <td>
                            <%= verdict.FIR_ID%>
                        </td>
                        <td>
                            <%= verdict.Court_id%>
                        </td>
                        <td>
                            <%= verdict.Verdict%>
                        </td>
                        <td>
                            <%= verdict.Verdict_date%>
                        </td>
                    </tr>
                <%}); %>
            </table>
        </div>
        <%- include('footer'); %>
    </body>
</html>